<div *ngIf="isLoading">Loading...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="success">{{ successMessage }}</div> 

<div *ngIf="merchandise">
    <h2>Update Merchandise</h2>

    <form (ngSubmit)="updateMerchandise()">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="merchandise.name" (input)="onFormChange()" required><br><br>

        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" [(ngModel)]="merchandise.price" (input)="onFormChange()" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" [(ngModel)]="merchandise.description" (input)="onFormChange()" required></textarea><br><br>

        <label for="brand">Brand:</label><br>
        <input type="text" id="brand" name="brand" [(ngModel)]="merchandise.brandName" (input)="onFormChange()" required><br><br>

        <button type="submit" [disabled]="!isFormDirty || isLoading">Update</button> <button type="button" (click)="cancelUpdate()">Cancel</button> 
    </form>
</div>