<div>
  <h2>Create Merchandise</h2>
  <form [formGroup]="merchandiseForm" (ngSubmit)="onSubmit()">
    <label>Category:</label>
    <select formControlName="categoryId" (change)="fetchSizes()">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <label>Size:</label>
    <select formControlName="size">
      <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
    </select>
    <label>Name:</label>
    <input formControlName="name" type="text">
    <label>In Stock:</label>
    <input formControlName="inStock" type="number">
    <label>Price:</label>
    <input formControlName="price" type="number">
    <label>Description:</label>
    <input formControlName="description" type="text">
    <label>Brand:</label>
    <select formControlName="brandId">
      <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
    </select>
    <button type="submit" [disabled]="merchandiseForm.invalid">Create</button>
  </form>
</div>