<mat-toolbar class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand-link">
      <mat-icon>store</mat-icon>
      <span>My Store</span>
    </a>
  </div>

  <div class="navbar-links">
    <a mat-button routerLink="/merchandise" routerLinkActive="active">
      <mat-icon>shopping_bag</mat-icon>
      <span>Products</span>
    </a>
    
    <ng-container *ngIf="authService.isLoggedIn()">
      <a mat-button routerLink="/cart" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn()">
      <a mat-button routerLink="/my-designs" routerLinkActive="active">
        <mat-icon>brush</mat-icon>
        My Designs
      </a>
    </ng-container>

    <a mat-button routerLink="/custom-design" routerLinkActive="active">
      <mat-icon>palette</mat-icon>
      <span>Custom Design</span>
    </a>

    <ng-container *ngIf="authService.isLoggedIn()">
      <a mat-button routerLink="/orders" routerLinkActive="active">
        <mat-icon>receipt</mat-icon>
        <span>My Orders</span>
      </a>
    </ng-container>
    
    <!-- Admin Links (only visible to admin users) -->
    <ng-container *ngIf="isAdmin">
      <a mat-button routerLink="/admin/orders" routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon>
        <span>All Orders</span>
      </a>
      <a mat-button routerLink="/admin/merchandise" routerLinkActive="active">
        <mat-icon>inventory</mat-icon>
        <span>Manage Merchandise</span>
      </a>
    </ng-container>
  </div>

  <div class="navbar-auth">
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
      <a mat-button routerLink="/login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
      <a mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>
    </ng-container>

    <ng-template #loggedIn>
      <div class="user-menu">
        <span class="user-email">{{ userEmail }}</span>
        <button mat-button (click)="logout()" class="logout-button">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>